/* @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body {
    display: flow-root;
    background-color: bl;
    margin: 0;
    padding: 0;
    height: 728px;
    background-color: red; /* For browsers that do not support gradients */
    /* background-image: linear-gradient(#164A41, #4D774E);
}


h1 {
    text-align: center;
    color: #DADED4;
    font-weight: 200;


    
    
}

.Buttons a {
display: inline-block;
margin: 10px;
text-decoration: none;
}

.Buttons button {
padding: 10px 20px;
background-color: #4CAF50;
color: white;
border: none;
cursor: pointer;
font-size: 16px;
border-radius: 4px;
}

.Buttons button:hover {
background-color: #45a049;
}

.Buttons {
text-align: center;
}

.Buttons a {
display: inline-block;
margin: 10px;
text-decoration: none;
}

.Buttons button {
padding: 10px 20px;
background-color: #4CAF50;
color: white;
border: none;
cursor: pointer;
font-size: 16px;
border-radius: 4px;
}

.Buttons button:hover {
background-color: #45a049;
} */ 
